{% extends "base.html" %}

{% block title %} Contact {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <!-- <img src="https://source.unsplash.com/1000x400/?phone, contact" class="d-block w-100 mx-0" alt="..."> -->
    <img src="static/img/contact.jpg" class="d-block w-100" alt="...">
    <h2 style="position: absolute; top: 104px; font-size: 61px; color: white; margin: 208px;">Contact Us</h2>
    <h3 class="text-center my-4 mb-4" style="font-size: 40px; color: #141257;">This is a Contact form</h3>
</div>

<div class="container">
    <form method="post" action="/contact">
        {% csrf_token %}
        <!-- {% comment %} when you will use this so you will submit your form at the same page not will get an error {% endcomment %} -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
            <!-- {% comment %} these types of attributes like name="name" are useful to identify the {% endcomment %} -->
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your Phone Number">
        </div>

        <div class="form-group">
            <label for="desc">Tell me about what you want to contact me for...</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div>
{% endblock body %}

<!-- {% comment %} <div class="container" style="background-color: #dfdad0;">
    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Phone Number</label>
            <input type="number" class="form-control" id="inputPhoneNumber" name="Phone" placeholder="+91-">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Description</label>
            <input type="text" class="form-control" id="inputDescription" name="Description"
                placeholder="Enter your text here">
        </div>

        <button type="submit" class="btn btn-primary">submit</button>
    </form>
</div> {% endcomment %} -->